//
//  Base.xcconfig
//  StellarDaily
//
//  Created by Oleksandr Yevdokymov on 14.02.2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

NASA_API_KEY = DEMO_KEY

// Safe fallback so project builds even without Secrets.xcconfig
// If Secrets.xcconfig exists locally, then override the fallback
#include? "Secrets.xcconfig"
#include? "Secrets.local.xcconfig"
